html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow: overlay;
  scroll-behavior: smooth;
}

.body.scrolled {
  padding-top: 100px;
}

#navbar {
  height: 100px;
}

#nav-list {
  border-bottom: 1px solid rgb(138, 138, 138);
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-nav.scrolled {
  border-bottom: 0 !important;
}

.nav-item {
  margin: 5px 30px 5px 30px;
  font-size: 16px;
  text-transform: uppercase;
}

.fixed-top {
  background-color: rgba(255, 255, 255, 0) !important;
  transition: background-color 500ms linear;
}

.fixed-top.scrolled {
  background-color: rgb(255, 255, 255) !important;
  transition: background-color 500ms linear;
}

#profile {
  width: 100%;
  border: 6px solid rgb(255, 255, 255);
  border-radius: 50%;
}

#profile:hover {
  filter: brightness(85%);
  border: 6px solid rgb(218, 218, 218);
}

.title-text {
  font-size: 24px;
  text-transform: uppercase;
}

hr.title {
  margin-top: 0;
  margin-bottom: 15px;
  color: rgb(145, 145, 145);
}

hr.heading-divider {
  margin-top: 0;
  margin-bottom: 5px;
  width: 80%;
  margin: auto;
}

.heading {
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}

#preface {
  min-width: 320px;
  min-height: 100vh;
  max-height: 100vh;
  background-size: 100%;
  width: 100%;
  background: url("../img/forest.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: flex;
  align-items: center;
}

#preface-content {
  height: 100%;
  width: 50%;
  min-width: 320px;
  color: rgb(255, 255, 255);
}

#profile-mobile {
  width: 70%;
  min-width: 200px;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 50%;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media (min-width: 500px) {
  #profile-mobile {
    display: none;
  }

  #title-mobile {
    display: none;
  }
}

@media (max-width: 499px) {
  #preface {
    min-width: 320px;
    min-height: 100vh;
    max-height: 100vh;
    background-size: 50%;
    width: 100%;
    background: url("../img/forest.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flex;
    align-items: center;
  }

  #navbar {
    display: none;
  }

  #profile {
    display: none;
  }

  #title-landscape {
    display: none;
  }
}

#content {
  min-width: 370px;
  width: 50%;
}

.section {
  padding-top: 110px;
}

#footer {
  background-color: #353535;
  padding: 30px;
  color: white;
  height: 80px;
  margin-top: 150px;
}
